{% extends 'layout.html' %}

{% block content %}
    <div class="m-1 mb-3 about">
        <h3>This is the blog post for the AASTU student community.</h3>
        <br><br>
        <ul>
            <h4>Using this blog post students can:</h4><br>
            <li>create a new account</li><br>
            <li>login as existing user</li><br>
            <li>write posts</li><br>
            <li>see posts</li><br>
            <li>update account info</li><br>
            <li>add profile picture</li><br>
            <li>update posts</li><br>
            <li>delete post</li><br>
        </ul>
    </div>
{% endblock content %}